fastapi
uvicorn[standard]
python-multipart
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
email-validator
supabase
groq
sentence-transformers
transformers
tokenizers
huggingface_hub
tiktoken==0.7.0
faiss-cpu==1.11.0.post1
numpy==2.3.2
PyPDF2
python-docx
aiofiles
beautifulsoup4
requests
lxml
Pillow
